# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\reactjs\FPT\login-facebook-goole\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
